<html>
<head>
    <title>qr code reader</title>
</head>
<body>

    <form id='qrform' name="qrform" target="{% url 'reader:index' %}" method="post">
        <input id='qrcode' name="qrcode" value="" type="text" /><br />
        <!-- <input type="submit" hidden/> -->
        {% csrf_token %}
    </form>

    <script type="text/javascript">
        var e = document.getElementById('qrcode');
        e.focus();
        e.addEventListener("keypress", function(event) {
            if (event.which == 10 || event.which == 13) {
                console.debug('enviando qr al servidor');
                console.debug(e.value);
                document.getElementById("qrform").submit();
            }
        })

    </script>

</body>
</html>